*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    line-height: 1.6;
}

h1{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 40px 0 60px 0;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#sea_inp{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 18px;
    color: rgb(26, 26, 26);
}

#sea_btn{
    padding: 10px 20px;
    background-color: rgb(158, 0, 0);
    border: none;
    color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.sea_results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.sea_result{
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sea_result img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease-in-out;
}

.sea_result img:hover{
    opacity: 0.8;
    transform: scale(1.01);
}

.sea_result a{
    font-size: 20px;
    font-weight: 600;
    color: rgb(26, 26, 26);
    text-decoration: none;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}

#sh-mo{
    /* display: none; */
    cursor: pointer;
    font-size: 18px;
    border: none;
    color: aliceblue;
    background-color: rgb(158, 0, 0);
    text-align: center;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    padding: 10px 20px;
}

@media screen and (max-width: 768px){
    .sea_result{
        width: 45%;
    }

    .sea_results{
        padding: 20px;
    }
    
}
@media screen and (max-width: 768px){
    .sea_result{
        width: 100%;
    }
    
}